@tailwind base;
@tailwind components;
@tailwind utilities;

/* +++++++++++++++++++++++++++++ GENERAL ++++++++++++++++++++++++++++++++*/
:root {
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-black: #000;
  --color-secondBlack: #1e1e1e;
  --color-white: #fff;
  --color-green: #3eb073;
  --color-darkerGreen: #29975c;
  --color-red: #e83c35;
  --color-blue: #3b69b1;
  --color-yellow: #fdcf2a;
  --color-purple: #76388d;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Signika Negative", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea {
  outline-color: var(--color-purple);
}
/* +++++++++++++++++++++++++++++ NAVBAR ++++++++++++++++++++++++++++++++*/
.menu ul li {
  border-radius: 50px;
  padding: 0.5rem 0.75rem;
  transition-duration: 300ms;
  cursor: pointer;
}

.menu ul li:last-child:hover {
  background-color: var(--color-white);
  color: var(--color-green);
}
.menu ul li:last-child:hover .world-icon {
  fill: var(--color-green);
  stroke: var(--color-green);
}

.menu ul li:hover {
  background-color: var(--color-purple);
}

/* +++++++++++++++++++++++++++++ HERO ++++++++++++++++++++++++++++++++*/
.dash {
  right: 50%;
  transform: translate(50%, 0);
}

.shape1 {
  top: 50%;
  transform: translate(0, -90%);
}

.container {
  height: 100px;
  width: 500px;
  overflow: hidden;
  position: relative;
}

.animated-text {
  position: absolute;
  bottom: 0;
  left: 0;
  animation-name: slide-up;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.textarea-form::-webkit-scrollbar {
  border-radius: 50px;
}

.footer {
  background: linear-gradient(
    to bottom,
    var(--color-white) 50%,
    var(--color-secondBlack) 50%
  );
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.fade-from-right {
  animation-name: fade-from-right;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
}

@keyframes fade-from-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.fade-up {
  animation: fadeUp 0.5s ease-in-out;
}

.rtl-animation {
  animation-name: lef-to-right-animation;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.ltr-animation {
  animation-name: right-to-left-animation;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes lef-to-right-animation {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes right-to-left-animation {
  0% {
    transform: translateX(-160%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* +++++++++++++++++++++++++++++ QUERIES ++++++++++++++++++++++++++++++++*/
@media only screen and (max-width: 1370px) {
  /* +++++++++++++++++++++++++++++ NAVBAR ++++++++++++++++++++++++++++++++*/
  .menu ul {
    gap: 0;
  }
}

@media only screen and (max-width: 1095px) {
  /* +++++++++++++++++++++++++++++ NAVBAR ++++++++++++++++++++++++++++++++*/
  .nav {
    padding: 2rem 2rem;
  }
}

@media only screen and (max-width: 1024px) {
  /* +++++++++++++++++++++++++++++ NAVBAR ++++++++++++++++++++++++++++++++*/
  .nav {
    padding: 2rem 4rem;
    gap: 2rem;
  }
  .logo {
    visibility: hidden;
    display: none;
  }
  .menu ul {
    flex-direction: column;
    gap: 0.4rem;
  }
  /* +++++++++++++++++++++++++++++ Meet Mobot ++++++++++++++++++++++++++++++++*/
  .meet-mobot-s1 {
    padding: 0;
  }

  .meet-mobot-s2 {
    width: 100%;
  }
  .meet-mobot-s2-first-div {
    flex-direction: column;
  }
}

@media only screen and (max-width: 700px) {
  .nav {
    padding: 1rem 2rem;
    gap: 2rem;
  }
  .buttons p {
    font-size: 0.8rem;
  }

  .container {
    height: 50px;
    width: 100%;
  }
  .header-container {
    width: 80%;
  }
  .dash {
    display: none;
  }
  .h1 {
    font-size: 3.5rem;
  }
  .h2 {
    font-size: 1.5rem;
  }
  .description {
    font-size: 1.2rem;
  }
}
